/*
Style Para todas las paginas -------
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

.logomargin{
    margin-bottom: 1rem;
}

.redes{
    display: flex;
    justify-content: center;

}

.h1span{
    background-color: red;
}

body {
    background-image: url(../img/back.jpeg);
    }

.footerAll {

    font-size: small;
}

/*
Style Para todas las paginas -------
*/


/*
Index -------
*/

.h1spanprincipal {
    background-color: red;
    
}

.pprincipal {

    border-style: solid;
    border-color: gray;
}

/*
Index -------
*/
