/*
Style Para todas las paginas -------
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: black; /*requerido para nav bar logo por "dark mode" de bootstrap */
}

.textdarkmode{
    color: white; /*requerido para offcanvas en mobile */
}

.logomargin{
    margin-bottom: 1rem;
}

.redes{
    display: flex;
    justify-content: center;

}

.h1span{
    background-color: red;
}

body {
    background-image: url(../img/back.jpeg);
    padding-top: 130px; /*off canvas navbar require padding */
    }

.footerAll {

    font-size: small;
}

/*
Style Para todas las paginas -------
*/


/*
Index -------
*/

.principal{
    margin-top: 3rem;
}

.h1spanprincipal {
    background-color: red;
    
}

.pprincipal {
    border-style: solid;
    border-color: gray;
}

/*
Index -------
*/
