//Contact

.borderstyleform{/* borde para el form*/
    @include white-border();
    margin: 1rem;
    padding: 1rem;
}

.pprincipal_contact{
    @extend .pprincipal;
    display: flex;
    justify-content: center;
}