//Index

.principal{
    margin-top: 3rem;
}

.h1{
    text-align: center;
}

.h1spanprincipal {
    background-color: $brand-color-highlight;
}

.pprincipal {
    @include white-border();
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
}

.redes{
    display: flex;
    justify-content: center;
}

.redes a{
    padding: 0.5rem;
}

