@media only screen and (min-width: 768px) and (max-width:1024px){
    /*Para mejorar margen*/
    .pprincipal {
        @include white-border();
        margin-left: 15rem;
        margin-right: 15rem;
        padding: 0.5rem;
    }

    .container_2_p{
        transform: translate(0,70px);
    }

}

@media only screen and (min-width: 990px){

    .borderstyle{
        border: none; /* fix :error raro con borde en navbar all desplegarse */
    }
}

@media only screen and (min-width: 1025px){
    .pprincipal {
        /*Para mejorar margen*/
        @include white-border();
        margin-left: 20rem;
        margin-right: 20rem;
        padding: 0.5rem;
    }

    .borderstyle{
        border: none;        
    }

    .container_2_p{
        transform: translate(0,70px);
    }



}