//Modificaciones sobre Navbar Bootstrap

.borderstyle{
    @include white-border();
    margin: 1rem;
}

.textdarkmode{
    color: white; /*requerido para offcanvas en mobile */
}

.bordenav{
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
}