//Modificaciones sobre Navbar Bootstrap

.borderstyle{
    border: solid white;
    border-radius: 2%;
    margin: 1rem;
}

.textdarkmode{
    color: white; /*requerido para offcanvas en mobile */
}

.bordenav{
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
}