//Tools y Work

main{
    .h1{
        text-align: $MBtext-align;
    }
}

.cardsstyle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardmargin {
    margin-bottom: 1rem;
}

.card {
    a {
        text-decoration: none;
    }

    transition: transform 0.5s ease-in-out;
        
    &:hover{
        transform: translate(0,-5px)
    }

    .card-body{
        .card-title{
        color: $brand-color-highlight;
        }
    }
}

.margin-video{
    //transform: translateY(10px);
    margin-top: 35px;
}

