$margin-LR: 2rem;

.principal_us {
    @extend .principal;

    .pprincipal_us {
        padding: $MBpadding-texto;
        margin-top: 1rem;
        margin-left: $margin-LR;
        margin-right: $margin-LR;
    }

    .container-textos {
        border-top: 1px solid white;
        margin-top: 3rem;
        display: flex;

        .container_1{
            background: linear-gradient(180deg, rgba(70,148,240,1) 0%, rgba(111,169,238,0) 70%);
            font-size: 4rem;
            padding: 1rem;

            p{
                font-weight: bolder;
            }
        }

        .container_2{
            background: linear-gradient(180deg, rgba(70,148,240,1) 0%, rgba(111,169,238,0) 70%);
            font-size: 2rem;
            font-weight: bold;
            padding: 1rem;
            width: 100%;
        }
    }

    .mission{
        margin-left: $margin-LR;
        margin-right: $margin-LR;
    }

    .psecundario_us{
        @extend .pprincipal_us;
    
    }


}


